.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;

    h1 {
        margin-bottom: 40px;
        align-self: flex-start;
    }
}